.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}